@{
    ViewData["Title"] = "TilmeldPubcrawl";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />
<div class="row">
    <div class="col-md-4">
        <!--Indsæt kalender-->
        <input type="datetime-local" />
    </div>
    <div class="col-md-4">
        <img src="~/Images/pakke1.png" class="generel_style_image" style="width:75%" />
        <button class="GreenBtn" id="center_btn">Vælg</button>
    </div>
    <div class="col-md-4">
        <img src="~/Images/pakke2.png" class="generel_style_image" style="width:75%" />
        <button class="GreenBtn" id="center_btn">Vælg</button>
    </div>
</div>
