@{
    ViewData["Title"] = "Login";
}

<form action="Index">
    <input type="text" id="fname" placeholder="E-mail" style="color: black;" class="generel_style_txt_box"><br><br>
    <input type="text" id="lname" placeholder="Password" style="color: black;" class="generel_style_txt_box"><br><br>
    <input type="submit" value="Submit" class="BlueBtn" id="center_btn">
</form>