@model IEnumerable<CC_Web.Models.Data.Virksomhed>

@{
    ViewData["Title"] = "CityCrawl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="logo-center">
    <img src="~/Images/CCLogo.png" alt="CityCrawl logo" style="width: 350px; height: 350px; margin-left:auto;margin-right:auto; display:block" />
</div>
<div>
    <a href="/Identity/Account/Login"><button class="BlueBtn" style="margin: 80px 150px; margin-left:350px">Login</button></a>
    <a href="/Identity/Account/Register"><button class="PinkBtn">Opret bruger</button></a>
</div>