@{
    ViewData["Title"] = "Home Page";
}

<div class="logo-center">
    <img src="~/Images/CCLogo.png" alt="CityCrawl logo" style="width: 350px; height: 350px; margin-left:auto;margin-right:auto; display:block" />
</div>
<div class="PinkBtn">
    <button>Login</button>
</div>
