@{
    ViewData["Title"] = "Home Page";
}

<div class="logo-center">
    <img src="~/Images/CCLogo.png" alt="CityCrawl logo" style="width: 350px; height: 350px; margin-left:auto;margin-right:auto; display:block" />
</div>
<div >
    <button class="BlueBtn">Login</button>
    <button class="PinkBtn">Opret bruger</button>
</div>

