@{
    ViewData["Title"] = "Home Page";
}

<div class="logo-center">
    <img src="~/Images/CCLogo.png" alt="CityCrawl logo" style="width: 350px; height: 350px; margin-left:auto;margin-right:auto; display:block" />
</div>
<div>
    <a href="Home/Login">
        <a href="Identity/Account/Login" class="BlueBtn" style="margin: 80px 150px; margin-left:350px">Login</a>
        <a href="Home/OpretBruger"><button class="PinkBtn">Opret bruger</button></a>
</div>

