@{
    ViewData["Title"] = "Login";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />

<form action="Index">
    <input type="text" id="fname" value="E-mail" style="color: #D3D3D3;" class="generel_style_txt_box" pattern="hans"><br><br>
    <input type="text" id="lname" value="Password" style="color: #D3D3D3;" class="generel_style_txt_box"><br><br>
    <input type="submit" value="Submit" class="BlueBtn" id="center_btn">
</form>