@{
    ViewData["Title"] = "OpretBruger";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />
<form action="">
    <label class="generel_style_txt_box">CVR-nummer</label>
    <input type="text" id="cvr" name="cvr" placeholder="CVR-nummer" style="color: #D3D3D3;margin-bottom:-30px" class="generel_style_txt_box"><br><br>
        <label class="generel_style_txt_box">Virksomhedsnavn</label>
    <input type="text" id="vnavn" name="vnavn" placeholder="CityCrawl" style="color: #D3D3D3; margin-bottom: -30px" class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box">Kontaktperson</label>
    <input type="text" id="kperson" name="kperson" value="Hans Hansen" style="color: #D3D3D3;margin-bottom:-30px" class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box">E-mail</label>
    <input type="text" id="email" name="email" value="hans@hansen.dk" style="color: #D3D3D3;margin-bottom: -30px" class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box">Password</label>
    <input type="text" id="password" name="password" value="***********" style="color: #D3D3D3; margin-bottom: -10px" class="generel_style_txt_box"><br><br>
    <button class="PinkBtn" id="center_btn">Opret bruger</button>
</form>