@{
    ViewData["Title"] = "OpretBruger";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />
<form action="">
    <label class="generel_style_txt_box">CVR-nummer</label>
    <input type="text" id="cvr" name="cvr" value="12345678" style="color: #D3D3D3;" class="generel_style_txt_box"><br><br>
    <label class="generel_style_txt_box">Virksomhedsnavn</label>
    <input type="text" id="vnavn" name="vnavn" value="CityCrawl" style="color: #D3D3D3;" class="generel_style_txt_box"><br><br>
</form>