@{
    ViewData["Title"] = "OpretBruger";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />
<form action="">
    <label class="generel_style_txt_box">CVR-nummer</label>
    <input type="text" id="cvr" placeholder="CVR-nummer" style="color: black; " class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box" style="margin-top: -30px;">Virksomhedsnavn</label>
    <input type="text" id="vnavn" name="vnavn" placeholder="CityCrawl" style="color: black;" class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box" style="margin-top: -30px;">Kontaktperson</label>
    <input type="text" id="kperson" name="kperson" placeholder="Hans Hansen" style="color: black" class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box" style="margin-top: -30px;">E-mail</label>
    <input type="text" id="v    email" name="vemail" placeholder="hans@hansen.dk" style="color: black" class="generel_style_txt_box"><br><br>

    <label class="generel_style_txt_box" style="margin-top: -30px;">Password</label> <!--Husk alders kontrol-->
    <input type="text" id="password" name="password" placeholder="*********" style="color: black;" class="generel_style_txt_box"><br><br>
    
    <label class="generel_style_txt_box" style="margin-top: -30px;">Password</label>
    <input type="password" id="password" name="password" placeholder="*********" style="color: black;" class="generel_style_txt_box"><br><br>
    
    <input type="text" id="vpassword" name="vpassword" placeholder="*********" style="color: black;" class="generel_style_txt_box"><br><br>
    <button class="PinkBtn" id="center_btn">Opret bruger</button>
</form>