@{
    ViewData["Title"] = "Profil";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />

<div class="row">
    <div class="col-md-8"><p>Blab</p></div>
    <h1>Min profil</h1>
    <p>Fornavn: </p>
    <p>Efternavn</p>
    <p>Fødselsdag</p>

    <div class="col-md-4">Blab</div>
</div>
