@{
    ViewData["Title"] = "Profil";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h1>Min profil</h1>
        <p>Fornavn: </p>
        <p>Efternavn</p>
        <p>Fødselsdag:</p>
        <p>E-mail:</p>
    </div>
    <div class="col-md-4">
        <h1>Mine pubcrawl</h1>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-3">
        <img src="~/Images/bubbles.png" class="Logos" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/HildasBeerBar.png" class="Logos" style="margin-top: 25%;" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/JazzItUp.png" class="Logos" style="margin-top: 25%;" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/WineAndDine.png" class="Logos" style="margin-top: 25%;" />
    </div>
</div>